<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm sticky-top">
  <div class="container-fluid px-4">

    <!-- Logo -->
    <img
      src="assets/logo/ebank-logo.svg"
      alt="eBank"
      class="login-logo"
    >

    <!-- Mobile button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">

        <!-- Accueil -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/client-home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">

            🏠 Accueil

          </a>
        </li>

        <!-- Comptes -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/client-home/accounts"
            routerLinkActive="active">

            🏦 Comptes

          </a>
        </li>

        <!-- Virements -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/client-home/transfers"
            routerLinkActive="active">

            Operations

          </a>
        </li>

        <!-- Cartes -->
        <!--
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/client-home/cards"
            routerLinkActive="active">

            💳 Cartes

          </a>
        </li>
        -->

      </ul>

      <!-- Notification -->

      <!-- Client -->
      <div class="dropdown">

        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">

          👤 Mon compte

        </button>

        <ul class="dropdown-menu dropdown-menu-end shadow-sm">

          <!-- Profil -->
          <li>
            <a
              class="dropdown-item"
              routerLink="/client-home/profile">

              👤 Mon profil

            </a>
          </li>
          

          <li>
            <hr class="dropdown-divider">
          </li>

          <!-- Déconnexion -->
          <li>
            <a
              class="dropdown-item"
              routerLink="/login">

              🚪 Déconnexion

            </a>
          </li>

        </ul>

      </div>

    </div>

  </div>
</nav>

