<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm sticky-top">
  <div class="container-fluid px-4">


    <!-- Logo -->
    <img
      src="assets/logo/ebank-logo.svg"
      alt="eBank"
      class="login-logo"
    >

    <!-- Mobile button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">

        <!-- Dashboard -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin-home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">

            📊 Accueil
          </a>
        </li>

        <!-- Clients -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin-home/customers"
            routerLinkActive="active">

            👥 Clients
          </a>
        </li>

        <!-- Comptes -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin-home/accounts"
            routerLinkActive="active">

            🏦 Comptes
          </a>
        </li>

      </ul>





      <!-- Admin -->
      <div class="dropdown">

        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown">

          👤 Admin

        </button>

        <ul class="dropdown-menu dropdown-menu-end shadow-sm">

          <li>
            <a
              class="dropdown-item"
              routerLink="/admin-home/profile">

              👤 Mon profil

            </a>
          </li>


          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="dropdown-item" routerLink="/login">
         <a>
           🚪 Déconnexion

         </a>

          </li>

        </ul>

      </div>

    </div>


  </div>
</nav>
